{% extends 'base.html' %}
 {% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="./">型號清單</a></li>
    <li class="breadcrumb-item active" aria-current="page">
      {% comment %} {{ probemodeldetail.ModelName }} {% endcomment %}
      測試頁面
    </li>
  </ol>
</nav>
<div class="card my-3">
<table>
  <thead>
      <tr>
          <th colspan="1">ProbeID</th>
          <th colspan="1">ModelID</th>
          <th colspan="1">Status</th>
          <th colspan="1">CreateDate</th>
          <th colspan="1">Note</th>
      </tr>
  </thead>

  <tbody>
    {% for probe in object_list %}
      <tr>
          <td>{{ probe.ProbeID }}</td>
          <td>{{ probe.ModelID }}</td>
          <td>{{ probe.Status }}</td>
          <td>{{ probe.CreateDate }}</td>
          <td>{{ probe.Note }}</td>
      </tr>
  {% endfor %}
  </tbody>

</table>
</div>

{% comment %} <div class="container mt-2">
  <h1>{{ probemodeldetail.ModelName }}</h1>
  <hr />
  <p>{{ probemodeldetail.PortCount }}</p>
  <p>{{ probemodeldetail.PortCount }}</p>
  <p>{{ probemodeldetail.PortCount }}</p>
</div> {% endcomment %}
{% endblock %}