{% extends 'base.html' %} 
{% block body %}
<div class="container mt-5">
  <h1>型號清單</h1>
  <div class="row">
    {% for probemodel in object_list %}
<div class="col-md-6">
      <div class="card my-3">
        <div class="card-body">
          <h5 class="card-title">型號：{{ probemodel.ModelName }}</h5>
          <p class="card-text text-muted">CPU: {{ probemodel.CPU }}</p>
          <p class="card-text text-muted">記憶體： {{ probemodel.Memony }}</p>
          <p class="card-text text-muted">硬碟： {{ probemodel.HDD }}</p>
          <p class="card-text text-muted">Port 數： {{ probemodel.PortCount }}</p>
          <p class="card-text text-muted">使用數： {{ probemodel.UsedCount }}</p>
          <p class="card-text text-muted">供應商： {{ probemodel.Provider }}</p>
          <p class="card-text text-muted">備註： {{ probemodel.Note }}</p>
          <a href="/models/{{ probemodel.id }}" class="card-link">詳細資料</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}