{% extends 'Probe_base.html' %}
 {% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">
      Probe 清單
    </li>
  </ol>
</nav>
<div class="card my-3">
<table>
  <thead>
      <tr>
          <th colspan="1">ProbeID</th>
          <th colspan="1">ModelID</th>
          <th colspan="1">Status</th>
          <th colspan="1">CreateDate</th>
          <th colspan="1">Note</th>
      </tr>
  </thead>

  <tbody>
    {% for probe in object_list %}
      <tr>
          <td>{{ probe.ProbeID }}</td>
          <td>{{ probe.ModelID }}</td>
          <td>{{ probe.Status }}</td>
          <td>{{ probe.CreateDate }}</td>
          <td>{{ probe.Note }}</td>
      </tr>
  {% endfor %}
  </tbody>

</table>
</div>
{% endblock %}